*{
    margin:0;
}
.Sidepanel{
    z-index: 1;
    padding: 0 0 40px 0;
    overflow: hidden;
    text-align: center;
    float:right;
    width:20vw;
    background-color: rgb(241, 141, 234);
    position: absolute;
    right: 0;
    box-shadow: 2px 2px 2px white;
}
.side-active{
    visibility: hidden;
}
.side{
    visibility:visible;
    margin-right:0px;
}
.sidebutton{
    width:80%
}
